version: "3"

services:
  backend:
    image: node:20.10.0
    hostname: backend
    container_name: backend
    depends_on:
      postgres:
        condition: service_healthy
      orion:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    working_dir: /app/backend
    ports:
      - "4000:4000"
    command: >
      sh -c "
      npm ci &&
      npm run start"
    environment:
      - "API_PORT=4000"
      - "ORION_URI=http://orion:1026"
      - "POSTGRES_HOST=postgres"
      - "POSTGRES_PORT=5432"
      - "POSTGRES_USERNAME=${POSTGREUSER}"
      - "POSTGRES_PASSWORD=${POSTGREPASSWORD}"
      - "POSTGRES_DATABASE=postgres"
      - "TYPEORM_SYNCHRONIZE=false"
    volumes:
      - ./backend:/app/backend
    networks:
      - backend-network
    healthcheck:
      test: "curl -f http://localhost:4000"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  frontend:
    image: node:20.10.0
    hostname: frontend
    container_name: frontend
    working_dir: /app/frontend
    ports:
      - "3000:3000"
    depends_on:
      backend:
        condition: service_healthy
    command: >
      sh -c "
      cd /app/frontend/externals/StarSeeker/StarSeeker/frontend &&
      npm install --legacy-peer-deps &&
      cd /app/frontend/ &&
      npm ci && 
      npm run build && 
      npm run start &&
      sleep 30"
    environment:
      - "NEXTAUTH_URL=${NEXTAUTH_URL}"
      - "NEXTAUTH_SECRET=${NEXTAUTH_SECRET}"
      - "NEXT_PUBLIC_MAP_DEFAULT_LATITUDE=${MAP_DEFAULT_LATITUDE}"
      - "NEXT_PUBLIC_MAP_DEFAULT_LONGITUDE=${MAP_DEFAULT_LONGITUDE}"
      - "NEXT_PUBLIC_MAP_DEFAULT_ZOOM=${MAP_DEFAULT_ZOOM}"
      - "NEXT_PUBLIC_DATASET_LIST_BY=${DATASET_LIST_BY}"
      - "GENERAL_USER_KEYCLOAK_CLIENT_ID=${GENERAL_USER_KEYCLOAK_CLIENT_ID}"
      - "GENERAL_USER_KEYCLOAK_CLIENT_SECRET=${GENERAL_USER_KEYCLOAK_CLIENT_SECRET}"
      - "KEYCLOAK_CLIENT_ISSUER=${KEYCLOAK_CLIENT_ISSUER}"
    volumes:
      - ./frontend/:/app/frontend/
    networks:
      - frontend-network

  mongo:
    image: mongo:6.0.12
    hostname: mongo
    container_name: mongo
    expose:
      - "27017"
    environment:
      - "MONGO_INITDB_ROOT_USERNAME=${MONGOUSERNAME}"
      - "MONGO_INITDB_ROOT_PASSWORD=${MONGOPASSWORD}"
      - "MONGO_INITDB_DATABASE=oriondb"
    volumes:
      - ./site/mongo/db:/data/db
      - ./site/mongo/configdb:/data/configdb
    networks:
      - backend-network

  postgres:
    image: postgres:16.1
    hostname: postgres
    expose:
      - "5432"
    container_name: postgres
    environment:
      - "POSTGRES_USER=${POSTGREUSER}"
      - "POSTGRES_PASSWORD=${POSTGREPASSWORD}"
      - "POSTGRES_DB=postgres"
      - "PGPASSWORD=${POSTGREPASSWORD}"
      - "PGUSER=${POSTGREUSER}"
      - "PGDATABASE=postgres"
    volumes:
      - ./site/postgres/data:/var/lib/postgresql/data
    networks:
      - backend-network
    healthcheck:
      test: "psql -U ${POSTGREUSER}"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  keycloak:
    image: quay.io/keycloak/keycloak:23.0.4
    hostname: keycloak
    container_name: keycloak
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - "KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}" 
      - "KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}"
      - "KC_DB=postgres"
      - "KC_DB_URL=jdbc:postgresql://postgres:5432/postgres"
      - "KC_DB_USERNAME=${POSTGREUSER}"
      - "KC_DB_PASSWORD=${POSTGREPASSWORD}"
      - "TZ=Asia/Tokyo"
    command:
      - start-dev
    networks:
      - backend-network
    healthcheck:
      test: "echo > /dev/tcp/localhost/8080"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  orion:
    image: fiware/orion:3.10.1
    hostname: orion
    container_name: orion
    expose:
      - "1026"
    depends_on:
      - mongo
    environment:
      - "ORION_MONGO_HOST=mongo:27017"
      - "ORION_MONGO_USER=${MONGOUSERNAME}"
      - "ORION_MONGO_PASSWORD=${MONGOPASSWORD}"
      - "ORION_MONGO_AUTH_SOURCE=admin"
      - "ORION_MONGO_DB=oriondb"
      - "ORION_PORT=1026"
      - "ORION_MULTI_SERVICE=true"
    networks:
      - backend-network
    healthcheck:
      test: "curl -f http://orion:1026/version"
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  cygnus:
    image: fiware/cygnus-ngsi:2.15.0
    hostname: cygnus
    container_name: cygnus
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - "CYGNUS_POSTGRESQL_HOST=postgres"
      - "CYGNUS_POSTGRESQL_PORT=5432"
      - "CYGNUS_POSTGRESQL_USER=${POSTGREUSER}"
      - "CYGNUS_POSTGRESQL_PASS=${POSTGREPASSWORD}"
      - "CYGNUS_POSTGRESQL_ENABLE_CACHE=true"
      - "CYGNUS_POSTGRESQL_SERVICE_PORT=5055"
      - "CYGNUS_LOG_LEVEL=DEBUG"
      - "CYGNUS_SERVICE_PORT=5055"
      - "CYGNUS_API_PORT=5080"
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge
  frontend-network:
    driver: bridge

