export TF_STATE_RESOURCE_GROUP_NAME="YOUR_RESOURCE_GROUP_FOR_TFSTATE"
export TF_STATE_LOCATION="YOUR_LOCATION_FOR_TFSTATE"
export TF_STATE_PREFIX="YOUR_PREFIX_FOR_TFSTATE"
export AZURE_TENANT_ID="YOUR_AZURE_TENANT_ID"

